apiVersion: v1
kind: Secret
metadata:
    name: synology-csi-helm-values
    namespace: storage-system
type: Opaque
stringData:
    values.yaml: |
        clientInfoSecret:
          clients:
            - host: diskstation.srv.${BASE_DOMAIN}
              https: true
              password:
              port: 5001
              username:
          create: true
