apiVersion: v1
kind: Secret
metadata:
    name: k10-helm-values
    namespace: kasten-io
type: Opaque
stringData:
    values.yaml: |
        auth:
          oidcAuth:
            clientID:
            clientSecret:
