apiVersion: v1
kind: Secret
metadata:
    name: promtail-helm-values
    namespace: monitoring
type: Opaque
stringData:
    values.yaml: |
        config:
          clients:
            - url:
              basic_auth:
                username:
                password:
