apiVersion: v1
kind: Secret
metadata:
    name: cloudflare-global-api-key
    namespace: cloudflare-operator
type: Opaque
stringData:
    apiKey:
---
apiVersion: v1
kind: Secret
metadata:
    name: hetzner-cloud-api-key
    namespace: cloudflare-operator
type: Opaque
stringData:
    Authorization:
