apiVersion: v1
kind: Secret
metadata:
    name: cloudflare-api-token
    namespace: cloudflare-operator
type: Opaque
stringData:
    apiToken:
---
apiVersion: v1
kind: Secret
metadata:
    name: hetzner-cloud-api-key
    namespace: cloudflare-operator
type: Opaque
stringData:
    Authorization:
