apiVersion: v1
kind: Secret
metadata:
    name: kube-prometheus-stack-helm-values
    namespace: monitoring
type: Opaque
stringData:
    values.yaml: |
        alertmanager:
          config:
            global:
              slack_api_url:
---
apiVersion: v1
kind: Secret
metadata:
    name: grafana-auth-generic-oauth
    namespace: monitoring
type: Opaque
stringData:
    client_id:
    client_secret:
