apiVersion: v1
kind: Secret
metadata:
    name: firefly
    namespace: firefly
type: Opaque
stringData:
    APP_KEY:
    APP_URL:
---
apiVersion: v1
kind: Secret
metadata:
    name: firefly-cron
    namespace: firefly
type: Opaque
data:
    FIREFLY_TOKEN:
