---
apiVersion: v1
kind: ConfigMap
metadata:
  name: teslamate-monitoring
  namespace: teslamate
  labels:
    cnpg.io/reload: ""
data:
  custom-queries: |
    open_drives:
      query: |
        SELECT
          current_database() as dbname,
          count(*) as open_drives
        FROM public.drives
        WHERE
          end_date IS NULL;

      metrics:
        - dbname:
            usage: "LABEL"
            description: "Database name"
        - open_drives:
            usage: "GAUGE"
            description: "Number of open drives"

    incomplete_charges:
      query: |
        SELECT
          current_database() as dbname,
          count(*) as incomplete_charges
        FROM public.charging_processes
        WHERE
          end_date IS NULL;

      metrics:
        - dbname:
            usage: "LABEL"
            description: "Database name"
        - incomplete_charges:
            usage: "GAUGE"
            description: "Number of incomplete charges"
