apiVersion: v1
kind: Secret
metadata:
    name: gitlab-backup-mirror
    namespace: gitlab
type: Opaque
stringData:
    SOURCE_ACCESSKEY:
    SOURCE_SECRETKEY:
    DESTINATION_ACCESSKEY: ${BACKUP_S3_ACCESSKEY}
    DESTINATION_SECRETKEY: ${BACKUP_S3_SECRETKEY}
