---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  HOST_IP_V4: 10.0.1.100
  HOST_IP_V6: ${IPV6_PREFIX}::100
  METALLB_ADDRESS_POOL_V4: 10.0.1.200-10.0.1.210
  METALLB_ADDRESS_POOL_V6: ${IPV6_PREFIX}::200-${IPV6_PREFIX}::210
  LAN_NETWORK_RANGE_V4: 10.0.0.0/23
  LAN_NETWORK_RANGE_V6: ${IPV6_PREFIX}::/48
  POD_NETWORK_RANGE_V4: 10.1.0.0/16
  POD_NETWORK_RANGE_V6: fd01::/48
