apiVersion: v1
kind: Secret
metadata:
    name: cluster-secrets
    namespace: flux-system
type: Opaque
stringData:
    BASE_DOMAIN:
    EMAIL:
    METALLB_INGRESS_NGINX_ADDRESS_POOL_V6:
    LAN_NETWORK_RANGE_V6:
    HCLOUD_CHECKMK_V6:
    HCLOUD_DOCKER_V6:
