apiVersion: v1
kind: Secret
metadata:
    name: traefik-forward-auth
    namespace: traefik
type: Opaque
stringData:
    PROVIDER_URI:
    CLIENT_ID:
    CLIENT_SECRET:
    ENCRYPTION_KEY:
    SECRET:
    COOKIE_DOMAIN:
    SCOPE:
    AUTH_HOST:
---
apiVersion: v1
kind: Secret
metadata:
    name: traefik-forward-auth-rules
    namespace: traefik
type: Opaque
stringData:
    rules: |
