---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: renovate-redis
  namespace: renovate
spec:
  replicas: 1
  selector:
    matchLabels:
      app: renovate-redis
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: renovate-redis
    spec:
      containers:
        - name: renovate-redis
          image: redis:7.0.6-alpine
          env:
            - name: TZ
              value: Europe/Zurich
          ports:
            - containerPort: 6379
          startupProbe:
            tcpSocket:
              port: 6379
            failureThreshold: 30
            periodSeconds: 5
            timeoutSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 6379
            failureThreshold: 2
            periodSeconds: 30
            timeoutSeconds: 5
          resources: {}
      restartPolicy: Always
      automountServiceAccountToken: false
