apiVersion: v1
kind: Secret
metadata:
    name: charge-report
    namespace: teslamate
type: Opaque
stringData:
    SLACK_CHANNEL:
    SLACK_TOKEN:
    BILL_ACCOUNT:
    BILL_CREDITOR_NAME:
    BILL_CREDITOR_STREET:
    BILL_CREDITOR_HOUSENUMBER:
    BILL_CREDITOR_POSTALCODE:
    BILL_CREDITOR_CITY:
