---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nextcloud
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: nextcloud
    spec:
      initContainers:
        - name: wait-for-valkey
          image: busybox:1.37.0
          command:
            - sh
            - -c
            - |
              echo 'Waiting for Valkey to become ready...'
              until printf "." && nc -z -w 2 nextcloud-valkey.nextcloud.svc.cluster.local 6379; do
                  sleep 2;
              done;
              echo 'Valkey OK ✓'
          securityContext:
            allowPrivilegeEscalation: false
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
          resources:
            requests:
              cpu: 10m
              memory: 16Mi
            limits:
              cpu: 10m
              memory: 16Mi
        - name: wait-for-database
          image: busybox:1.37.0
          command:
            - sh
            - -c
            - |
              echo 'Waiting for PostgreSQL to become ready...'
              until printf "." && nc -z -w 2 nextcloud-postgres-rw.nextcloud.svc.cluster.local 5432; do
                  sleep 2;
              done;
              echo 'PostgreSQL OK ✓'
          securityContext:
            allowPrivilegeEscalation: false
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
          resources:
            requests:
              cpu: 10m
              memory: 16Mi
            limits:
              cpu: 10m
              memory: 16Mi
      containers:
        - name: nginx
          image: nginx:1.29.3-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: /etc/nginx/nginx.conf
              name: nginx-config
              subPath: nginx.conf
            - mountPath: /var/www/html
              name: app-data
              readOnly: true
            - mountPath: /var/www/html/data
              name: user-data
              readOnly: true
          startupProbe:
            httpGet:
              path: /status.php
              port: 80
              httpHeaders:
                - name: Host
                  value: cloud.${BASE_DOMAIN}
            initialDelaySeconds: 15
            failureThreshold: 30
            periodSeconds: 5
            timeoutSeconds: 5
          livenessProbe:
            httpGet:
              path: /status.php
              port: 80
              httpHeaders:
                - name: Host
                  value: cloud.${BASE_DOMAIN}
            failureThreshold: 2
            periodSeconds: 30
            timeoutSeconds: 5
        - name: nextcloud
          image: nextcloud:32.0.2-fpm-alpine
          env:
            - name: POSTGRES_HOST
              value: nextcloud-postgres-rw.nextcloud.svc.cluster.local
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: nextcloud-postgres-app
                  key: username
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: nextcloud-postgres-app
                  key: password
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: nextcloud-postgres-app
                  key: dbname
            - name: NEXTCLOUD_TRUSTED_DOMAINS
              value: cloud.${BASE_DOMAIN}
            - name: TRUSTED_PROXIES
              value: 10.1.0.0/16 fd01::/48
            - name: OVERWRITEPROTOCOL
              value: https
            - name: REDIS_HOST
              value: nextcloud-valkey.nextcloud.svc.cluster.local
            - name: TZ
              value: Europe/Zurich
            - name: MAIL_DOMAIN
              value: ${BASE_DOMAIN}
            - name: MAIL_FROM_ADDRESS
              value: cloud
            - name: SMTP_AUTHTYPE
              value: LOGIN
            - name: SMTP_NAME
              value: mail@${BASE_DOMAIN}
            - name: SMTP_PORT
              value: "587"
            - name: SMTP_SECURE
              value: tls
          envFrom:
            - secretRef:
                name: nextcloud-mail-settings
          volumeMounts:
            - mountPath: /var/www/html
              name: app-data
            - mountPath: /var/www/html/data
              name: user-data
          lifecycle:
            postStart:
              exec:
                command:
                  - /bin/sh
                  - -c
                  - crond
      restartPolicy: Always
      automountServiceAccountToken: false
      volumes:
        - name: app-data
          persistentVolumeClaim:
            claimName: nextcloud-app-data
        - name: user-data
          persistentVolumeClaim:
            claimName: nextcloud-user-data
        - name: nginx-config
          configMap:
            name: nextcloud-nginx-config
